//
//  Common
//  -------------------------------------------

& when (@media-common = true) {
    .private-data-consent {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        .lib-vendor-prefix-flex-wrap(nowrap);
        justify-content: center;
        gap: 3rem;

        section {
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-shrink(1);

            &.image {
                .lib-vendor-prefix-flex-basis(25%);
            }
            &.description {
                .lib-vendor-prefix-flex-basis(75%);
                text-align: justify;
            }
        }
    }

    #shipping-new-address-form {
        input[name="telephone"] {
            &~.field-error {
                font-weight: bold;
                color: red;
            }
        }
    }
}
